* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*green design #009688*/
/*red design #f44336*/
/*blue design #00bcd4*/
/*purple design #673ab7*/

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
}

html, body, a {
  font-family: Verdana, Geneva, sans-serif;
  color: #333;
}

html, body, section button {
  background: #fafafa;
}

section button {
  display: inline-block;
  border: 3px solid #333;
  border-radius: 2px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-box-shadow: 1px 3px 0px #ddd;
  box-shadow: 1px 3px 0px #ddd;
}

section button:hover {
  background-color: #333;
  color: #fafafa;
}

section#main {
  text-align: center;
}

section#main div.legend, section#game, section#how-to, section#end {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

section#game {
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
  -moz-transform: translate(-50%, -40%);
  -ms-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
}

section#main h1 {
  font-style: italic;
  margin-bottom: 5px;
  font-size: 50px;
  text-transform: uppercase;
  transform: rotate(-5deg);
  -webkit-text-shadow: 1px 3px 0px #ddd;
  text-shadow: 1px 3px 0px #ddd;
}

section#main h2 {
  font-style: italic;
  margin-bottom: 35px;
  font-size: 45px;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

section#main h2.left {
  -webkit-transform: rotate(-5deg) translate(10px, 0px);
  -moz-transform: rotate(-5deg) translate(10px, 0px);
  -ms-transform: rotate(-5deg) translate(10px, 0px);
  transform: rotate(-5deg) translate(-10px, 20px);
}

section#main h2.right {
  -webkit-transform: rotate(-5deg) translate(10px, 0px);
  -moz-transform: rotate(-5deg) translate(10px, 0px);
  -ms-transform: rotate(-5deg) translate(10px, 0px);
  transform: rotate(-5deg) translate(10px, 0px);
}

section#main h3 {
  animation: blinker 1s linear infinite;
  font-weight: 100;
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, 10%);
  -moz-transform: translate(-50%, 10%);
  -ms-transform: translate(-50%, 10%);
  transform: translate(-50%, 10%);
}

section#how-to {
  display: none;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

section#how-to .how-to {
  margin: 0 auto;
  text-align: left;
  font-size: 18px;
}

section#how-to #next {
  display: inline-block;
  margin: 40px auto 0;
}

section#game {
  display: none;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

section#game h1 {
  -webkit-text-shadow: 1px 3px 0px #ddd;
  text-shadow: 1px 3px 0px #ddd;
}

section#game h2 {
  position: fixed;
  text-align: center;
  width: 100%;
  bottom: -200px;
  bottom: -20vh;
}

section#game h2.time {
  top: -100px;
  top: -10vh;
  font-size: 20px;
}

section#game .happy {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-animation: higher 3s ease-out;
  animation: higher 3s ease-out;
  -webit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes higher {
    0% { opacity: 1; }
    70% { opacity: 0.7; }
    100% { opacity: 0;}
}

section#game .arrow {
  font-size: 160px;
  display: none;
}

section#game .text {
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  display: none;
}

section#game .arrow.invert {
  -webkit-transform: translateY(90px);
  -moz-transform: translateY(90px);
  -ms-transform: translateY(90px);
  transform: translateY(90px);
}

section#game .text.invert {
  -webkit-transform: translateY(-150px);
  -moz-transform: translateY(-150px);
  -ms-transform: translateY(-150px);
  transform: translateY(-150px);
}

section#end {
  display: none;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

section#end h2 {
  margin-bottom: 20px;
  -webkit-text-shadow: 1px 3px 0px #ddd;
  text-shadow: 1px 3px 0px #ddd;
}

section#end .social {
  margin-top: 50px;
}

section#end .social .facebook {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAActpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IlhNUCBDb3JlIDUuNC4wIj4KICAgPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICAgICAgPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIKICAgICAgICAgICAgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIgogICAgICAgICAgICB4bWxuczp0aWZmPSJodHRwOi8vbnMuYWRvYmUuY29tL3RpZmYvMS4wLyI+CiAgICAgICAgIDx4bXA6Q3JlYXRvclRvb2w+d3d3Lmlua3NjYXBlLm9yZzwveG1wOkNyZWF0b3JUb29sPgogICAgICAgICA8dGlmZjpPcmllbnRhdGlvbj4xPC90aWZmOk9yaWVudGF0aW9uPgogICAgICA8L3JkZjpEZXNjcmlwdGlvbj4KICAgPC9yZGY6UkRGPgo8L3g6eG1wbWV0YT4KGMtVWAAABlBJREFUaAXtml1rXEUYx/fsa6qmWJpFUBDEaJCwreSVNohBQfCqFxJv1DvRr9AvoPYjWBG9FeONeGkvopCWJCQphFQDIY0ILRJQYm1i9tX/78mZJTnpObvb3bMJkgdmn3PmzDzz/88zz8yc2eMlfJmcnEzPzMyUuR0aGhqWetfzvEvSA0p5JU+p5mup2MW1hd5SWqvVarekv11aWlqk9YOYAVfPKBQK5zKZzGci8GE6nU6pYqJarSbQxynCk0gmkwl0WSI8X5VKpasrKyt/OTKeuxgbG3uhUql8LwIFacAXBR6iKaXkcRJR21WlilJNZLKpVApCK9JX5ufn78LBPIInstnsT5BQgT1VSCtB4CQKhMrCmoNMsVh8Hc9YT+dyuWsHSGRV8KSSoGPBlqXDwaxQuEamR2DLXXNKxARsTzIJMDupOMzCPZ7UzZSYQYKYgMTxRraDGa3BaJjBbhyUcVkkqGbxckCTF6fQKCOAQHZtB9sTtFpaQIOTjSvv+dgvE9QD/hQLs6ChuO5ZrzSjJgFp02pYQ2BTgmyQDDNrav9RYgAieVg9gnWY7Xby8UIVAhgRiHtq9xdd3heGXSXzDmuG/7yo568pXYRMECP3YJfkMdgtNzgS9OIdAfhUM86Nubm5P0ASJiMjI59ovbio8gzDI17x63nWM2FGOpxfEaC0Ftsfe3p63pmdnX0QYZ/OJVVFgOWgoYQxbFixxQJlhpNI/K5Z5gNI9Pf352SD9kkOODo5NTVF4rpp6RYRC2j17ucMpeHh4cz6+jo7CGKCZAMdAlxPT09b0nXT0o2hxcKFN/DKDZD19vYa8ABKwBMHSP25yEO4oXSDCBs9psp7ipHfohApsN9WuTcgTjlI6PpNfxMbuTx0jYhwbe/u7v4DwHw+X+9xt/vWcBsS8B80k9naAHlEM5ytI7qPDINuEDFA+int7OzYi5vLQG9tbRlAkXhJHkvpPYMy9alW+XgikgR2ukGEKZRgJ6iPiKZi5x0Vs0u3aTXwzZDAaEOmR1puPsMBzLFSC2TkeiDAacpJI7a/km4aX5weYZAzRB7o3eFpdIM+KCmoKf+vkm1VpLFxRglCdMx+4OgiKJ6CzPVc8Fk79yX1bkaBelvpPQUw79nlhYWFuzIabA9wtfHx8bOKj+fkhZrqAPyhQuZl1ftOeWelIemGnS4PS2weUeO09HB5efnO4SaP3FlPa6H8W09IdRkdHX1KBJ4gQ1omQx0Sa4zQfmpwcNBig2mWjBAxMlrZ6fGkqyPwLwp8WjqahSpFGQ9ps6VsT2uGBaybZqNqqwynOnS71dEQe0Z7s4RCh5ixvLD6cRFxcVDWoR/Bm1hdXeVVOkwsTtwBoQrZeiNvnPeHE0RC4wOjcRFxr6BP6nDjFbVTUs9WdAa1qWtHUpcmRmJiYqJ3b2/vWU0SNXkgKW8QLwWNKgqFB4eZaOAuv8zjqLSAUK+gHv1Z6VdNwV9r627x4seC2dWsaZ0pEm8J9G2RmNeDmyK0Kj21PyNHewNDsXlEtulKhkMf41xEzus6VET8jMr1iAzJtv1+Z2CnoUfiIgJgGzLSewIEuF0yw0QeKANc5Vgv2NZQn45oSAKbcRLBPiDcSUlksFKWwBYByjFDNUVA5UwipzRXqE0dDO5mzLVcpxtEmgHedplTIm13YYcNnHqkwx3atrlTj7TdhR028L/ySMuLT4c7sxPmanhky98a2Ha1E1bDbLiXrI2NDdq1tL29baPC31uFVX1kvurwnwnP7HBsTRs2Njps1uKUmv49LtHA4uIimo6r6jDb8gSq5fbBDHbJGv/43PJZuSHmNAVOqjiMdq4skDfrf0/rhl1n5JHLY7KygwN1GG98c9JldRxtOTB0KSfuzytdUEJ41mj3e+jvaSusU/DrOkP6iD/hZYC3uEZGVKQlMTL+MDhSkRHBu4hSMwSoT7miXsRyOgv7Qh/ZfOxeM6/qE45LehDXJxy8w/MuHjzEdsDReKaZ9yNGTf0TDj6u0X0iyXkT33LII1fkkRVY+q7n1MMFJWXbFbycCSS8Tx46igQTA1j4lzcFRrCC2X0hlNrc3KxCRv/r/dnX1/eN3H9OnfeqCmd8Qp0eZsLTmgiHJ9AmGn4V4ftSH9O8r1PM+2DnGKkO0mXQxAn58MyxZdg1/PDsPwpO8TrH3GYMAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  background-size: 30px;
  margin-right: 30px;
  color: transparent;
  display: inline-block;
}

section#end .social .twitter {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAA6ZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IlhNUCBDb3JlIDUuNC4wIj4KICAgPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICAgICAgPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIKICAgICAgICAgICAgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIgogICAgICAgICAgICB4bWxuczp0aWZmPSJodHRwOi8vbnMuYWRvYmUuY29tL3RpZmYvMS4wLyIKICAgICAgICAgICAgeG1sbnM6ZXhpZj0iaHR0cDovL25zLmFkb2JlLmNvbS9leGlmLzEuMC8iPgogICAgICAgICA8eG1wOk1vZGlmeURhdGU+MjAxNi0wNy0wNlQxMDowNzowMjwveG1wOk1vZGlmeURhdGU+CiAgICAgICAgIDx4bXA6Q3JlYXRvclRvb2w+UGl4ZWxtYXRvciAzLjU8L3htcDpDcmVhdG9yVG9vbD4KICAgICAgICAgPHRpZmY6T3JpZW50YXRpb24+MTwvdGlmZjpPcmllbnRhdGlvbj4KICAgICAgICAgPHRpZmY6Q29tcHJlc3Npb24+NTwvdGlmZjpDb21wcmVzc2lvbj4KICAgICAgICAgPHRpZmY6UmVzb2x1dGlvblVuaXQ+MjwvdGlmZjpSZXNvbHV0aW9uVW5pdD4KICAgICAgICAgPHRpZmY6WVJlc29sdXRpb24+NzI8L3RpZmY6WVJlc29sdXRpb24+CiAgICAgICAgIDx0aWZmOlhSZXNvbHV0aW9uPjcyPC90aWZmOlhSZXNvbHV0aW9uPgogICAgICAgICA8ZXhpZjpQaXhlbFhEaW1lbnNpb24+NTA8L2V4aWY6UGl4ZWxYRGltZW5zaW9uPgogICAgICAgICA8ZXhpZjpDb2xvclNwYWNlPjE8L2V4aWY6Q29sb3JTcGFjZT4KICAgICAgICAgPGV4aWY6UGl4ZWxZRGltZW5zaW9uPjUwPC9leGlmOlBpeGVsWURpbWVuc2lvbj4KICAgICAgPC9yZGY6RGVzY3JpcHRpb24+CiAgIDwvcmRmOlJERj4KPC94OnhtcG1ldGE+CllwyrwAAAopSURBVGgF7ZlrbFzFFcf33rvetTEOwo6N7ToBOwYCeTjBilpQQ5MCIorgC0oQIJB4vyQQ8AFVqiJFQFUo/dIWpa1UPtCqqklAPAJBEY8kREBAOLbj2E7AQMwjxjEYmjR2bO+jv//sndu7jpP1q/YXjzQ7rzNnzv+cM2fmzkYis2lWA7MaOJ0GnNCg59eTob6prkZhmBDTpUuXlnmetzKVSl3qOE4NXSXqJ/WRO9Lp9K5oNLqnsbHx36Y3EtFck1atWhXZuXOn4eN3OQKinPY7VLh+O9wXGp5YlcWjWnzRokVnuq57IyBuhVMduYB21lqAk0xHyTsB9JeWlpY3qafIQYJPjHn15HknTpx4w1rEZaAeDSSY1AS1BZg1OeAyzooF4VvhNwh3JwJEEDhCXTmFVQwY6lQdht0IpWh+oO93CPt35IvSX0pegCJWJJPJexFlG923GSCLFy9eQOMVJsaGhoZua2tre2/9+vXeli1bJPKkXG3jxo0uOVVfX38WCz+DEDf7AIbhLaEdBJUXhJMUKGBp6PMYlxvthtRlrtywLD8/P46svYlEYl1ra+u7BkhdXd0tED0HGGd4eLgV4gcY3MUEB216I/yR7jEnK2AKazyBFn8tECSByBsDF4GRIqPMNeSAigBOluoi34MHbdeAh6DRwcHB6wGyEo0NMaGS+s/nzp379ZEjRzoOHTokbeZ1d3dn+bHhmuNHSmB+csmSJZeipMchPwtBhihjOabaYSlaykgxL6lMPQ2Afcj6K+otpaWla8rLy9e5x44diyH4OWT6I57AUK9l4b9iqYfpixI5jBvI3WgbQhHnSC6WNODhdx208xFkmBxEnxzzw8MC48JHbjZI+SVWWYOML+Tl5f2D9hIPRAJyDXkZRFo4SjEM4Rzqq0FbXVZW9lkPqb29XeOur+lcFtLiSX//PQD/+WhSm3o8yoBFVjJKhMe5gLiMXAXLl9knD7v9/f0JhP4xixzTQyArKMTdSn4RH3+QyFZMX8ruGbmcNvOIuabJmOlnsRoWrsnoyLjJWC06kq3mSXmSqRD5Emz2P9O+b//+/V95fX19STRey2JrWcwlm/gHgTRnfJKJpYz/kvIyLJQoKSn5pre3d4B9I1Bp7TP6PNpMMcmtrKx0NQ79lfSsU28IjCEa549AGNkA8QV5A0p6eu/evTowPeOvCPkhixxG0EoIFFaslj0BY98o/MUJBKtoroDBR8uWLXsR+u3M7QKMrGeTzqQocV9thdYqaEwIpS4/t3TjKpmrUCwgilh/27dvn6whZsKQMEAYaEfINyC6g06D3CeiCIjBk5SPF0K7Gr6X0+6E+TsEhV3UP0b43s7Ozv9wDikymQR93F88156yU8ZSGv64rwKROeei8nMax9kDzyHgWnIFm0eRIT6Co1xNFhIgCaVT9kLolO/ASp8VFRW1YCmFxg7GugDWA/0Z4gPNxEyhySMSrPLVVVNTk0J2oyCLyMFUu9HsHxDgScDEsdKpDi0BUkpCIzeMwlgb8CLqyjdQVwg/XFBQ0AWQeSKjlLtOCgw8zHz4HYdXVhLzYE9wSj5F+wkmDFLq5DVmoxwtCZBoIE8nsIKysMmPFdLPA9AvKBWxpLVJA4GHgOhoMDdiAk6gGLNHsMTlEKxhvdcGBgaejcViJRDfRVvjAVDqoyUJqKwkgXUK2whlAdhxQzSRHxQiBSlYyBrfiwdBRkXGtVQjLcfHH0WAmwHQjFbj1AeYVEQZoM6QnvZXtNb1RGgWOe2MsQ+aiIVMfchngIT5W0214RbHGKgEiDb8FdTPlGZJ4wEi+nDS3MnMt7wygmRC77cchD0a4MpkxzMuAYh2evZLcOr9lNobUyFAsNAUVrq4Xx0WP86rwOJyA4db7tGKioqfYLbVtHW6i85aS/UZTcijw9BEPtzqX0TYdxBInxcBEFcXQDrTbPIG6BtxK7V1kgdE1Gc0oWAFHI+yGxmbQ8IEMuqqndT1/MCBA59A8BiIe3WOUNfpae5aoYkzVvUt8ilBqUVCcFkNQKgt90nzSZvWLbapqelVTnVFr24m6GohLcwoGGRRtNKdTXes3ch4WLKSJX+Q5EZKaSzjMOhs3ry5iW+UDubOI5eTY+IlGvK0BwDWT2INnWe6JTzNZ9GXkpW23C1IFog6DBjczN2xY8cn1dXVzxPmvmNyEWP6DpG7WXNOFyCtlwKIvly3scn/pDbZeBJlkMJA1OnwFZhavnz5xYC4AW0IhNL8UF3t6QKSZF1dg3pxq8eIrtrHkjnLGrT/93pHXcIJKXNS1xKrn6RUQxFMPjoT1tADl8627cjxNnLYZGWxbSO4baRxK0OAzO8z+ZA/oNcLARTQ6bKEltYnuAeALqzyR33jKLrSr+BzUspyLdxKBC4bqovP3+MwuIqcDxBdyy2Q6QAjl9LngQ7Bp7iVb1ak2rRpk+Q7yRrqHE0o414a5FZ8D8x+i2bOlpvBVG5mPpJCVlLXVCb5f4qzLMqaL1G/vbm5WY8jp7SGFs+yiDpIQqz+NJZp5KFuL2AqyOcCSGFQVxiBVRpNEZmRif1q7QQg8gDRgnvfR6T6Wi6Ft4zqUnaZ0YBoLABDpPicl5CtCN9JLmCsGED2pdCaeaoADQNCT1HfAOJ+nm0/EggO7JOilAVgy1MB0biE1AnqNDQ0DGCdpqqqqq0ssgdAH5OHsdICsqwk2smA0XwL4nt4P4gltoZAWIVBNnoay+JubW1tXjweT9vXEfbOBbDbQL6JbHnYcvSVTtGL0HqZScqdqHdjiUcA0aDNTdasnNYQkRa3E9SOyAKmkvlRXb5pNKL/N3CrtbQfYvE6rKNFRBOeQ3NMSTwVPDzudfq7oA0gj7Kxt40XhFYLC6D6SSaUeQ8ePFjL2E8Rfh35au0RNKdvc5oTeuaRcnT1MH8twOd18gb9yeS7k+QYkyWgM8lZuHBhSWFh4QDvQ/164+ItqohTvQQNlbPQAhaoR9YVUF+ihemnyzzx6yHARi+fXc7CAIAKT/JkhR/Iz5J/z/ttj//GNqFvIYcHtbsR7Gcwn4Ng0oIe1M6mfg6lvhrNY5gPwGrJnvSQ5EzSrgDo/EEXrgDoTNIfNM9ghW2U5j8YlDkhEOKt18I9uIlut3pYq8NftYjuN+bSxaInaCODeYoJnyFhN7RuafqgZUpwN/Pgq3UMT7o/gPc/uZS+hMvq29vx3Sn8fizZxpWCPYJZ9VSqf0mvZrGV5EUSAKEMMMmlTMr8+I3QagKrpilV99tSyFF47aZ8FRBvcT58LkI+s/VPr6xsLa3uCSWt7KIRh0PHmJ+zoqC4uHg+/doT2uD6A+h82vprIddrOqRpB4HFq4f5ikQf0n6XPdHK110v/XrGMeeXXVN9k03WIuZPT/6Gc/DTwMQ8t8T493QOgpyHQDo7qgEzj3oZWXtKJ72SnliPko/Q9xVa1yt9B2UX2le/UZIsQD2CFdQOu6a6Z9OsBmY18H/UwH8B84Rnivp9VX8AAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  background-size: 30px;
  color: transparent;
  display: inline-block;
}

section#main #download {
    display: none;
    padding-top: 50px;
}

section#main #download a, section#main #download img {
  width: 150px;
}

section#end .social h3 {
  margin-bottom: 20px;
  -webkit-text-shadow: 1px 3px 0px #ddd;
  text-shadow: 1px 3px 0px #ddd;
}

#author {
  display: block;
  text-align: center;
  position: fixed;
  bottom: 50px;
  width: 100%;
}

section#main ~ #author {
  bottom: 20px;
}

#author a {
  text-decoration: none;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
}

section#end button {
  margin-top: 70px;
}

#leftArrow {
  animation: moveleft 1s infinite;
}

#rightArrow {
  animation: moveright 1s infinite;
}

@keyframes moveleft {
    0% { opacity: 1; transform: translateX(0)}
    100% { opacity: 0; transform: translateX(-1em);}
}

@keyframes moveright {
    0% { opacity: 1; transform: translateX(0)}
    100% { opacity: 0; transform: translateX(1em);}
}
